<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<section layout:fragment="content">
    <div class="content-wrapper">
        <h3>在售产品列表</h3>
        <form id="selectForm" action="" class="form-inline">
            <div class="form-group">
                <label for="name">产品名称</label>
                <input id="name" name="name" class="form-control" th:value="${product.name}">
            </div>
            <div class="form-group">
                <label for="model">规格型号</label>
                <input id="model" name="model" class="form-control" th:value="${product.model}">
            </div>
            <a type="button" class="btn btn-default" onclick="findProduct(0)">查询</a>
        </form>
        <table class="table table-striped table-hover" style="margin-top: 2em;">
            <tr>
                <th>产品ID</th>
                <th>产品名称</th>
                <th>规格型号</th>
                <th>数量</th>
                <th>单位</th>
                <th>单价</th>
                <th>操作</th>
            </tr>
            <tr th:each="item:${page.content}">
                <td th:text="${item[0]}"></td>
                <td th:text="${item[1]}"></td>
                <td th:text="${item[2]}"></td>
                <td th:text="${item[3]}"></td>
                <td th:text="${item[4]}"></td>
                <td th:text="${item[5]}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                            th:onclick="'locationUrl(\'/getProduct/'+${item[0]}+'\',\'\');'">编辑
                    </button>
                    <button type="button" class="btn btn-danger btn-sm"
                            th:onclick="'deleteProduct('+${item[0]}+');'">删除
                    </button>
                </td>
            </tr>
        </table>
        <nav class="text-center">
            <ul class="pagination">
                <li class="am-pagination-first ">
                    <a href="javascript:void(0);"
                       th:onclick="'findProduct(0);'">首页</a>
                </li>
                <li th:class="${page.number == 0}? 'disabled' : ''">
                    <a href="javascript:void(0);"
                       th:onclick="'findProduct('+${page.number - 1}+');'">上一页</a>
                </li>
                <li th:class="${page.number + 1 == page.totalPages}? 'disabled':''">
                    <a href="javascript:void(0);"
                       th:onclick="'findProduct('+${page.number + 1}+');'">下一页</a>
                </li>
                <li class="am-pagination-last ">
                    <a href="javascript:void(0);"
                       th:onclick="'findProduct('+${page.totalPages - 1}+');'">尾页</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<script th:src="@{/js/product.js}"></script>
<script type='text/javascript'>
    $(function () {
        toastr.options = {
            'closeButton': true,
            'positionClass': 'toast-top-center',
            'timeOut': '5000'
        };
    })
</script>
</body>
</html>